# 1. Downloading SP500 Stocks Price Data!

In [30]:
# from statsmodels.regression.rolling import RollingOLS
# import pandas_datareader.data as web
# import matplotlib.pyplot as plt 
# import statsmodels.api as sm
# import pandas as pd
# import numpy as np
# import datetime as dt
# import yfinance as yf
# import pandas_ta
# import warnings
# warnings.filterwarnings('ignore')


# sp500 = pd.read_html('http://en.wikipedia.org/wiki/List_of_S&P_500_companies') [0]

# sp500['Symbol'] = sp500['Symbol'].str.replace('.',',')

# symbols_list = sp500['Symbol'].unique().tolist()

# end_date= '2025-4-12'
# start_date = pd.to_datetime(end_date)-pd.DateOffset(365*8)

# df = yf.download(tickers=symbols_list ,start=start_date , end=end_date).stack()

# df.index.names= ['date', 'name']

# df.columns = df.columns.str.lower()


df

Price            adj close       close        high         low        open  \
date       name
2017-04-17 A           NaN   50.320087   50.555404   49.350584   49.538838
           AAPL        NaN   32.943752   32.955367   32.720765   32.862454
           ABBV        NaN   46.096779   46.569863   45.917581   46.440841
           ABT         NaN   37.748707   37.809718   36.877114   37.190884
           ACGL        NaN   30.026207   30.061072   29.446158   29.493702
...                    ...         ...         ...         ...         ...
2025-04-11 XYL         NaN  109.059998  110.199997  105.730003  107.320000
           YUM         NaN  145.000000  145.970001  142.460007  145.339996
           ZBH         NaN  102.349998  102.940002   99.000000  102.650002
           ZBRA        NaN  225.440002  229.919998  216.860001  221.149994
           ZTS         NaN  149.440002  149.740005  144.809998  146.639999

Price                volume
date       name
2017-04-17 A      1569200.0
           AAPL  66328400.0
           ABBV   4189500.0
           ABT    8068500.0
           ACGL    916800.0
...                     ...
2025-04-11 XYL    1938100.0
           YUM    3002500.0
           ZBH    2275100.0
           ZBRA   1103900.0
           ZTS    2850500.0

[986863 rows x 6 columns]

In [36]:
#Calculating Features and Technical indicators for each stock 
#=>Garman-Klass Volatility
#=>RSI
#=>Bollinger Bands
#=>ATR
#=>MACD
#=>Dollar Volumer